<mat-list>
  <mat-list-item>
    <button
      [routerLink]="['', 'guardedRoute']"
      color="primary"
      mat-raised-button>
      guardedRoute (angular animation)
    </button>
  </mat-list-item>
  <mat-list-item>
    <button
      [routerLink]="['', 'dataCommunication']"
      color="primary"
      mat-raised-button>
      dataCommunication (css animation)
    </button>
  </mat-list-item>
  <mat-list-item>
    <button
      [routerLink]="['', 'design-slice']"
      color="primary"
      mat-raised-button>
      Sliced Designs
    </button>
  </mat-list-item>
</mat-list>
