<mat-toolbar color="primary">
  <button
    [routerLink]="['/']"
    color="primary"
    mat-raised-button>
    <mat-icon
      aria-hidden="false"
      aria-label="Home icon">
      home
    </mat-icon>
  </button>
  <button
    (click)="loggedIn = true"
    color="primary"
    mat-raised-button>
    Login
  </button>
  <button
    (click)="logout()"
    color="primary"
    mat-raised-button>
    Logout
  </button>
</mat-toolbar>

<mat-list>
  <mat-list-item>
    <button
      [routerLink]="['task', 'guardedRoute']"
      color="primary"
      mat-raised-button>
      guardedRoute (angular animation)
    </button>
  </mat-list-item>
  <mat-list-item>
    <button
      [routerLink]="['task', 'dataCommunication']"
      color="primary"
      mat-raised-button>
      dataCommunication (css animation)
    </button>
  </mat-list-item>
</mat-list>

<mat-divider [inset]="true"></mat-divider>

<main #templateref
      [@routerTransition]="getState(o)"
      [ngClass]="userCssTransition?'on':'off'"
      class="cssTransition">
  <router-outlet #o="outlet"></router-outlet>
</main>

<mat-divider [inset]="true"></mat-divider>
<app-on-changes (loggedIn)="authService.isLoggedIn.next($event)"
                [isLoggedIn]="loggedIn">
</app-on-changes>

