<mat-toolbar color="primary">
  <button
    [routerLink]="['/']"
    color="primary"
    mat-raised-button>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </button>
  <button
    (click)="loggedIn = true"
    color="primary"
    mat-raised-button>
    Login
  </button>
  <button
    (click)="logout()"
    color="primary"
    mat-raised-button>
    Logout
  </button>
</mat-toolbar>

<mat-list>
  <mat-list-item>
    <button
      [routerLink]="['task', 'guardedRoute']"
      color="primary"
      mat-raised-button>
      guardedRoute
    </button>
  </mat-list-item>
</mat-list>

<mat-grid-list cols="4">
  <mat-grid-tile [colspan]="4">
    <router-outlet></router-outlet>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4">
    <app-on-changes (loggedIn)="authService.isLoggedIn.next($event)"
                    [isLoggedIn]="loggedIn">
    </app-on-changes>
  </mat-grid-tile>
</mat-grid-list>
