<form [formGroup]="communicationForm">
  <mat-grid-list cols="4" rowHeight="60">
    <mat-grid-tile *ngFor="let formControl of communicationForm.controls | keyvalue"
                   [colspan]="4"
                   [rowspan]="1">
        <mat-form-field appearance="fill">
          <mat-label [innerHTML]="formControl.key"></mat-label>
          <input [formControl]="communicationForm.controls[formControl.key]" matInput>
        </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form>
