<form (ngSubmit)="onSubmit()" [formGroup]="communicationForm">

    <div *ngFor="let formControl of communicationForm.controls | keyvalue">
      <ng-template [ngIfElse]="duration" [ngIf]="formControl.key !== 'donation'">
        <mat-form-field appearance="fill">
          <mat-label [innerHTML]="formControl.key"></mat-label>
          <input [formControl]="communicationForm.controls[formControl.key]" matInput>
        </mat-form-field>
      </ng-template>
      <ng-template #duration>
        <mat-form-field appearance="fill">
          <mat-label [innerHTML]="formControl.key"></mat-label>
          <input [formControl]="communicationForm.controls[formControl.key]"
                 appFormatCurrency
                 matInput>
        </mat-form-field>
      </ng-template>
    </div>

  <button [disabled]="!communicationForm.valid"
          color="primary"
          mat-raised-button
          type="submit">Submit
  </button>
</form>
