<section class="util-menu">

</section>

<section class="menu">
<ul class="nav" fxFlex="row" fxLayoutAlign="space-between">
  <li class="nav-item"><a href="#">Navigation Link One</a></li>
  <li class="nav-item"><a href="#">Navigation Link Two</a></li>
  <li class="nav-item"><a href="#">Navigation Link Three</a></li>
</ul>
</section>

<section class="hero">
<div class="hero-img" [style.backgroundImage]="">
  <h1 [innerHTML]="title"></h1>
</div>
</section>
<section class="submission-form-wrapper">

  <div class="submission-form">

  </div>

</section>
