@import "~@angular/material/prebuilt-themes/purple-green.css";
/* You can add global styles to this file, and also import other style files */

html, body, main {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html, body, h1, h2, h3, p, a {
  margin: 0;
}

a {
  text-decoration: none;
}
button {
  border:none;
  background:transparent
;
}

.mat-raised-button[disabled] {
  background-color: #c5c5c5;
  border: solid 1px #c5c5c5;
}

mat-label {
  text-transform: capitalize;
}

mat-card {
  max-width: 80%;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main {
  background: #000;
  color: #fff;
  height: 100vh;
}

.cssTransition {
  transition: all ease-in-out .75s;
  border: solid 2px transparent;

  &.on {
    background: #16a085;
    border-color: #16a085;
  }
}

